@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';
@import "~bootstrap/scss/bootstrap";

html,
body {
    background-color: #F7F7F7;
}

.app {
    a {
        color: rgb(34, 53, 224);
        text-decoration: none;
        transition: 0.3s;
    }
    
    a:hover {
        color: rgb(142, 95, 185);
    }
}
